html {
    font-family: Merryweather, serif;
    color: #282F39;
}

ul {
    list-style-type: none;
}

.portfolio-illu__image {
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.slider__img {
    width: 92px;
    height: 92px;
    float: left;
}

.header__socials svg {
    background-color: #282F39;
    padding: 10px;
    border-radius: 50px;
}

