/* --------------- RESET CSS --------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------- -600px VERSION --------------- */

/* --------------- 600px -> 750px VERSION --------------- */

/* --------------- 750px -> 950px VERSION --------------- */

/* --------------- +950px VERSION --------------- */

/* --------------- COMMON ELEMENTS --------------- */

html {
    font-family: Quando, Merryweather, serif;
    color: #282F39;
}
h1, .nav__title, .portfolio-illu__title, .footer__title {
    font-size: 0;
}

header {
    background-color: #282F39;
}
.socials__item {
    display: flex;
    justify-content: center;
    float: left;
    background-color: #496E77;
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
a:first-child .socials__item {
    margin-left: 25px;
}
a:first-child .socials__item:hover {
    background-color: #FFC500;
}
a:nth-child(2) .socials__item:hover {
    background-color: #DD5172;
}
a:last-child .socials__item:hover {
    background-color: #13AEA2;
}
.socials__item svg {
    margin: auto;
}

.header__nav {
    clear: both;
}
.nav__title {
    font-size: 0;
}

.main__intro {
    padding: 25px;
}
h2 {
    font-size: 20px;
}
.intro__text {
    font-size: 16px;
}
.main__portfolio-illu {
    background-color: #ECECEC;
}
.portfolio-illu__ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 110px;
}
.portfolio-illu__image {
    width: 100%;
    height: 100%;
}

.main__socials__item {
    display: flex;
    justify-content: center;
    background-color: #DD5172;
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
.main__socials__item svg {
    margin: auto;
}

.footer {
    clear: both;
}


.footer__slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.slider__img {
    width: 100%;
}

