/* --------------- RESET CSS --------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

/* --------------- BASICS --------------- */
html {
    font-family: Quando, Merriweather, serif;
    letter-spacing: 1px;
    color: #282F39;
    background-color: #ECECEC;
}
h2, h3 {
    font-size: 22px;
    line-height: 120%;
}
p {
    font-family: Merriweather, serif;
    font-weight: lighter;
    line-height: 150%;
}
br {
    margin-bottom: 15px;
}
h1, .socials__title, .nav__title, .main__title, .portfolioWd__title, .portfolioIllu__title, .footer__title, .slider__title {
    font-size: 0;
}
::selection {
    background-color: #13AEA2;
    color: white;
}
/* TODO focus */
*:focus {

}

/* --------------- -600px VERSION --------------- */
@media (max-width: 480px) {
    header {
        height: 340px;
    }

    .socials__item {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }
    .socials__item {
        margin-top: 16px;
    }
    .socials__item:first-child {
        margin-left: 25px;
    }
    .socials__item:nth-child(n+2) {
        margin-left: 8px;
    }

    .main__intro {
        padding: 25px;
        background-color: #fff;
    }

    .portfolioIllu__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22.5vw 22.5vw;
    }
    .portfolioIllu__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main__portfolio-wd {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }
}

/* --------------- 600px -> 750px VERSION --------------- */
@media (min-width: 481px) and (max-width: 768px) {
    header {
        height: 340px;
    }

    .socials__item {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }
    a:first-child .socials__item {
        margin-left: 25px;
    }
    a .socials__item {
        margin-top: 16px;
    }
    a:nth-child(n+2) .socials__item {
        margin-left: 12px;
    }

    .main__intro {
        padding: 25px;
        margin: 0 25px;
        background-color: #fff;
        border-radius: 7px;
    }

    .portfolioIllu__ul {
        display: grid;
        grid-gap: 5px;
        margin: 10px 25px 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 150px;
    }
    .portfolioIllu__image {
        border-radius: 7px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main__portfolio-wd {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }
}

/* --------------- 750px -> 950px VERSION --------------- */
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 340px;
    }

    .socials__item {
        width: 64px;
        height: 64px;
        border-radius: 32px;
    }
    a:first-child .socials__item {
        margin-left: 50px;
    }
    a .socials__item {
        margin-top: 24px;
    }
    a:first-child .socials__item {
        margin-left: 35px;
    }
    a:nth-child(n+2) .socials__item {
        margin-left: 12px;
    }

    .main__intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
        padding: 25px;
        margin: 0 35px;
        background-color: #fff;
        border-radius: 7px;
    }


    .portfolioIllu__ul {
        display: grid;
        grid-gap: 5px;
        margin: 10px 35px 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 160px 160px;
    }
    .portfolioIllu__image {
        border-radius: 7px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .portfolioIllu__promo-text {
        width: 80%;
        margin: auto;
    }

    .main__portfolio-wd {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }
}

/* --------------- +950px VERSION --------------- */
@media (min-width: 1025px) {
    header {
        height: 340px;
    }

    .socials__item {
        width: 64px;
        height: 64px;
        border-radius: 32px;
    }
    a:first-child .socials__item {
        margin-left: 50px;
    }
    a .socials__item {
        margin-top: 24px;
    }
    a:first-child .socials__item {
        margin-left: 35px;
    }
    a:nth-child(n+2) .socials__item {
        margin-left: 12px;
    }

    .main__intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25%;
        padding: 100px 45px 25px;
        margin: 0 35px;
        background-color: #fff;
        border-radius: 7px;
    }
    .main__paragraph:last-child {
        text-align: right;
    }

    .portfolioIllu__ul {
        display: grid;
        grid-gap: 5px;
        margin: 10px 35px 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 130px 130px;
    }
    .portfolioIllu__image {
        border-radius: 7px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .portfolioIllu__promo-text {
        width: 75%;
        margin: auto;
    }

    .main__portfolio-wd {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

/* --------------- COMMON ELEMENTS --------------- */


/* TODO */
canvas, .banner__bird {
    display: none;
}

header {
    background-color: #282F39;
}

.socials__item {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #496E77;
}
.socials__item:first-of-type:hover {
    background-color: #FFC500;
}
.socials__item:nth-child(2):hover {
    background-color: #DD5172;
}
.socials__item:last-child:hover {
    background-color: #13AEA2;
}
.socials__item:active {
    background-color: #fff;
}
.socials__item svg {
    align-self: center;
    fill: #ffffff;
}
.socials__item svg:active {
    fill: #282F39;
}
.header__nav {
    clear: both;
}


.intro__text {
    font-size: 16px;
    margin: 10px 0 20px;
}
.intro__text a {
    color: #13AEA2;
}
.intro__text a:hover {
    color: #DD5172;
}
.intro__text abbr {
    text-decoration: #13AEA2 wavy underline;
}
.intro__text abbr:hover {
    text-decoration: #DD5172 wavy underline;
}

section:last-child .intro__text {
    margin-bottom: 0;
}


.portfolioIllu__promo {
    padding: 30px 25px 30px;
}
.portfolioIllu__promo-text {
    margin-bottom: 30px;
    text-align: center;
}
.portfolioIllu__promo-button {
    margin: auto;
    text-align: center;
    background-color: #282F39;
    padding: 10px 20px 10px;
    border-radius: 7px;
}
.portfolioIllu__promo a {
    text-decoration: none;
    color: #fff;
}
.portfolioIllu__promo svg {
    background-color: #DD5172;
    padding: 4px;
    border-radius: 10px;
}



.main__socials {
    margin: 50px auto 50px;
}
.main__socials__ul {
    text-align: center;
}
.main__socials__link {
    display: inline-block;
}
.main__socials__item {
    display: flex;
    justify-content: center;
    background-color: #DD5172;
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
.main__socials__link+.main__socials__link {
    margin-left: 30px;
}
.main__socials__item svg {
    margin: auto;
}


.footer {
    clear: both;
}
.footer__contact {
    background-color: #416E7C;
    padding: 50px 25px;
    color: #ffffff;
    text-align: center;
}
.footer__form {
    margin-top: 30px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.form__label {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}
.form__input {
    border-radius: 5px;
    border-style: none;
    min-height: 32px;
}
.form__button {
    margin-top: 10px;
    grid-column: 1/3;
}


.footer__slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.slider__img {
    width: 100%;
}

